.homepage-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  clear:right;
  text-align: center;
  margin-top: 70px;

}
.weather-image-container {
  margin-top:50px;
  height:150px;
  width:150px;
}

button {
  border-radius: 8px;
  margin-top: 10px;
}
.plug {
  margin-top: 20px;
}
select {
  width:200px;
  height:40px;
  margin-top:10px;
}
