.location-card {
  width:200px;
  height:245px;
  margin: 10px;
  transition: margin .35s;

//
.location-card:hover {
  margin-top: -2px;
  transition: margin .35s;
}

  .flipper {
    width:100%;
    height:100%;
    position:relative;
    transform-style: preserve-3d;

    .front, .back {
      width:100%;
      height:100%;
      backface-visibility: hidden;
      position:absolute;
      top:0;
      left:0;
      border: 2px solid black;
      border-radius: 6px;
      transform-style: preserve-3d;
      transition: transform ease 800ms;
      -webkit-transform: ease 800ms;
    }
  }
}

.location-card {
  .front { transform: rotateY(0deg); }
  .back { transform: rotateY(-180deg); }

  div.flipper.flipped {
    .front { transform: rotateY(180deg); }
    .back { transform: rotateY(0deg); }
  }
}

.weather-container {
  height:150px;
  width:150px;
  margin: 0 auto;

  p {
    margin:2px;
  }

  .location {
    font-weight:800;
    font-size: 16px;
  }
}

.card-logo{
  max-width: 100%;
}
