.location-card {
  width:200px;
  margin: 10px;
  transition: margin .35s;
  display: block;
}

.location-card:hover {
  margin-top: -2px;
  transition: margin .35s;
}

.getForecast {
  border: 2px solid black;
  cursor: pointer;
  margin-bottom: -10px;
  height: 140px;
  padding:2px;
  width: 100px;
  margin: 0 5px;
  box-shadow: 5px 10px;
}

.card-location {
  hoverable: true;
}
