.userhomepage-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  clear:right;
  text-align: center;
  margin-top: 70px;
}
.errordiv {
  width:500px;
  height:30px;
}
.card-flex{
  display:flex;
  flex-direction: row;
  width:100%
}

.weather-prediction {
  margin-top:10px;
  height:150px;
  width:150px;
}

button {
  border-radius: 8px;
  margin-top: 10px;
}
