
.umbrella {
  height: 150px;
  width: 150px;
  background-image: url('./images/umbrella.png');
  background-size: cover;
}

.question {
  height: 150px;
  width: 150px;
  background-image: url('./images/question.jpg');
  background-size: cover;
}

.sun {
  height: 150px;
  width: 150px;
  background-image: url('./images/sun.png');
  background-size: cover;
}
