.weatherComponent {
}
.umbrella {
  height:150px;
  width:150px;
  background-image: url('./umbrella.png');
  background-size: cover;
}

.question {
  height:150px;
  width:150px;
  background-image: url('./question.jpg');
  background-size:cover;
}

.sun {

}
